[Unit]
Description="WEKA Management Station GUI"
After=docker.service network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/opt/gui
ExecStart=/opt/gui/start_gui
Restart=always

[Install]
WantedBy=multi-user.target
