[Unit]
Description="Install Weka"
After=docker.service network-online.target
Wants=network-online.target
Before=console-getty.service wms-gui.service

[Service]
User=root
WorkingDirectory=/opt/wekabits
ExecStart=/opt/wekabits/weka-install
#Restart=never

[Install]
WantedBy=multi-user.target
